<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Produto</title>
        <meta charset="UTF-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container mt-4">
            <h4>Cadastro de Produtos</h4>
            <hr>
            <div class="container mt-4" style="width: 390px">
                <form method="POST" class="form-signin" th:object="${prodForm}" th:action="@{/updateProd}" enctype="multipart/form-data">
                    
                    <input type="text" th:value="${codigoProd}" th:field="*{codigoProd}" hidden>
                    <div class="form-group">
                        <lable for="nome">Nome do produto: </lable>
                        <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome do produto"
                               th:value="${nome}"
                           autofocus="true" id="nome">
                    </div>
                    <div class="form-group mt-4">
                        <lable for="nome">Descrição do produto: </lable>
                        <input type="text" th:field="*{descricao}" class="form-control" placeholder="Descrição"
                               th:value="${descricao}"
                           autofocus="true" id="descricao">
                    </div>
                     <!--foto-->    
                     <input type="text" th:value="${imagem}" th:field="*{imagem}" hidden>
                    <div class="row no-gutters mt-4">
                        <div class="col">
                            <label>Selecionar imagem do produto:</label><br>
                            <label class="btn btn-primary" for="my-file">
                            Imagem
                            <input id="my-file" type="file" name="file" style="display:none" onchange="$('#upload-file-info').text(this.files[0].name)">
                            </label>  
                            <span  class="label label-info m-2" id="upload-file-info" name="upload-file-info"></span>
                        </div>                      
                    </div>
                    <div class="mt-5 d-grid gap-2">
                        <button type="submit" name="action" value="upload" class="btn btn-primary">Alterar</button>
                    </div>
                </form> 
        </div>
        <div class='mt-4'>
                <h4>Lista de Produtos Cadastrados</h4>
                <hr>
                <table data-toggle="table" data-sort-name="nome" data-sort-order="desc"
                   id="table-index" class="table table-striped table-sm" 
                   cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" data-field="nome">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Imagem</th>
                        <th colspan="2" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody th:if="${produtoList.size} > 0">
                    <tr scope="row" th:each="produto : ${produtoList}">
                        <td th:text="${produto.nome} "/>
                        <td th:text="${produto.descricao} "/>
                        <td class="w-25"><img style="width: 90px" th:src="${produto.imagem}" alt="fotito do produto"> </td>
                        <td><a th:href="@{'/editar/' + ${produto.codigoProd}}"> Alterar</a></td>
                        <td><a th:href="@{'/deletar/' + ${produto.codigoProd}}"> Excluir</a></td>
                    </tr>
                </tbody>
                <tbody th:if="${produtoList.size} == 0">
                    <tr>
                        <td colspan="3">Não há produtos cadastrados.</td>
                    </tr>
                </tbody>
                </table> 
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>

